-if ($obj->$field != null)
  %div{:id=>$id."_current_container"}
    =hidden_field($field."_id", 'id', $id."_current_value")
    +$obj->$field->original_file_name
    %br
    %button{:id=>$id."_remove"} remove
    :js
      $(document).ready( function () {
        $('#<?=$id?>_remove').click( function() {
          e = $('#<?=$id?>_current_value');
          e.val('');
          $('#<?=$id?>_current_container').hide();
          $('#<?=$id?>_new_container').show();
          return false;
        });
      });
-$style = ($obj->$field != null) ? 'display: none' : ''
%div{:id=>$id.'_new_container', :style=>$style}
  %br
  =file_field($field.'_data')
  %br
  =se("TXT, DOC, or XLS accepted. Max 1MB.")
  
